ol{
    background-color: rgb(229, 178, 112);
}

ol li{
background-color: brown;
margin: 5px;
}

h1{
    background-color: coral;
    margin: 20px;
    padding: 46px;
    height: 90px;
    box-sizing:border-box;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    position: absolute;
}

#box1{
    background-color: blueviolet;  
    z-index: 3;
}
/* larger value of z index represents the front the position of the box and 
lower value indicates that the box will remai at the back */
#box2{
    background-color: rgb(17, 200, 84);
    z-index: 2;
    left: 40px;
}

#box3{
    background-color: rgb(192, 20, 45);
    z-index: 1;
    left: 70px;
}

.input-box{
    outline-color: red;
    outline-width: 3px;  
    outline-style: solid;
} 
/* Outline width is only visible when outline style is set to solid */

.img-container{
    width: 100px;
    height: 200px;
    /* overflow: hidden; */
}

.img-container img{
width: 100%;
height: 100%;
object-fit: fill;
}